.header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-content {
    gap: 30px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-top: 180px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 42px;
}

.first-img {
    padding: 50px 220px 0px 90px;
}

.pic-menus {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: o auto;
    gap: 20px;
}

.second {
    height: 80vh;
}

.second-heading {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.second-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.png-pic-1 {
    height: 428x;
    width: 310px;
    padding: 110px 75px 0px 75px;
}

.picture-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 530px;
    width: 450px;
}


.png-pic-2 {
    height: 370px;
    width: 370px;
    padding: 100px 45px 50px 45px;
}

.picture-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 530px;
    width: 450px;
}

.png-pic-3 {
    height: 470px;
    width: 310px;
    padding: 60px 75px 0px 75px;
}

.picture-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 530px;
    width: 450px;
}

.pic-menus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    padding: 200px;
}

.line-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px
}

.third-container {
    display: flex;
    max-width: 70%;
    height: 320px;
    justify-content: space-around;
    padding: 10px 240px 20px;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 240px;
}

.fourth-container {
    width: 19oopx;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);


}

.fourth {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin: 0 auto;

}

.fourth-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.fourth-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.png-8 {
    width: 318px;
    height: 420px;
    padding-top: 120px;
}

.fifth-title {
    text-align: center;
    margin: 50px;
}

.fifth-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.fifth-pic {
    height: 350px;
    width: 300px;
}

.fifth-pics {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 200px;
}

.fifth-container {
    width: 80%;
    height: 60vh;
    margin: auto;
    padding: 10px;
}

.sixth-container {
    background-image: url("../Flower\ Asset/Rectangle 9.png");
    width: 70%;
    height: 30vh;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 40px;
}

.sixth-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.sixth-menu {
    text-align: center
    
}

.email-1 {
    width: 700px;
    height: 64px ;
    border-radius: 8px;
    background: #FFF;
    
}

.sixth-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
}

footer {
    width: 100%;
    height: 40vh;
    text-align: center;
    background: #111010;


}

.end-title {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    padding-top: 200px;
}

.end-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copy {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.color {
    color: white;
}